body{
    background-image: url('/assets/images/background_sugarhighkid1.png');
    font-weight: bolder;
    color:rgb(1, 12, 63);
    font-size: larger;
}

.project_box{
    width: 47%;
    margin: 1vw;
}