/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'); */

body{
    background-image: url('/assets/images/background_sugarhighkid.png');
    /* https://brandfolder.com/workbench/color-palette: lots of #feaf4e */
    background-repeat: repeat;
    background-position: right top;
    background-size: contain;
    color:rgb(45, 39, 58);
    font-size: larger;
    margin: auto;
    text-align: center;
}

/* frambuesa rgb(131, 14, 49) */
/* violeta rgb(48, 43, 87) */
/* rgb(37, 121, 30)" */

h1 {
  font-weight: bolder;
  font-size: 3.5rem;
}

h1 i {
  color: rgb(48, 43, 87);
}

h2 {
  background-color: rgb(255, 252, 240);
  color: rgb(48, 43, 87); 
  width: 80%;  
  border-radius: 5px;
  margin: auto;
  margin-bottom: 3px
}

hr{
  width: 80%;
  margin: auto;
  font-weight: 600px;
}

.content-width{
  width: 60%;
  margin: auto;
  text-align: center; 
}

.transparent{
  background-color: rgba(254, 175, 78, 0.781);
}

.profile_links {
  padding: 1vw;
}

.profile_links a {
  color: rgb(48, 43, 87);
  font-size: 1.5em;
  margin: 0.8em;
}

.hovertext{
  position: relative;
}

.hovertext i {
  padding-bottom: 2px;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  font-weight: 500;
  font-size: medium;
  color: rgb(49, 48, 48);
  text-align: center;

  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 0.5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.list-no-button {
  list-style-type:none;
}

/* HEADER */
.header {
  font-weight: bolder;
  font-size: 1.2em;
  color: rgb(48, 43, 87);
}

.header img{
  width: 35%;
  margin-top: 10vh;
  border: black 5px ridge;
}

.header span {
  font-weight: 500;
  font-size: 0.8em;
}

/* Project box */
.title {
  font-weight: bold;
}

.img_box{
  height: 300px; 
}

.project_img{
    margin-top: 16px;
    width: 90%;
    height: 90%;
    padding-top: 1%;
}

.project_img:hover{
    width: 100%;
    height: 100%;
    padding-top: 0;
}

.projects_linksbox {
  display: inline-flex;
}

.projects_linksbox a i {
  font-size: 1.3em;
}

.description{
  text-align: justify;
  font-size: 16px;
  width: 80%;
  margin: auto;
}

.tags{
  margin-right: 30px;
  list-style-type:none;
  font-size: 12px;
}

.column {
    float: left;
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* SKILLS */

#skills_box {
  margin: 20px 0px;
}

#skills_box img {
  width: 2.5em;
  margin: 5px;
}

/* FOOTER */

#hobbies {
  display: flex;
  justify-content: center;
}

#hobbies div{
  margin: 5px;
}

.card_image {
  margin-top: 1vh;
  border: black 2px solid;
  /* width: 200px; */
  height: 20em;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  } 
}

@media screen and (max-width: 1000px) {
  .img_box{
    height: 150px;
  }
}


/* THE MODAL */
.modal {  
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  z-index: 10;
  overscroll-behavior: contain;
}

.modal-content {
  width: 70%; 
  margin: 0% auto;
  /* margin-top: 10vh; */
  padding: 1%;
  display: inline-block;
  display: flex;
  justify-items: center;
}


.noscroll { 
  overflow: hidden;
}

[aria-hidden="true"] {    
    transition: opacity 1s, z-index 0s 1s;
    width: 100vw;
    z-index: -1; 
    opacity: 0;  
}

[aria-hidden="false"] {  
    transition: opacity 1s;
    width: 100%;
    z-index: 1;  
    opacity: 1; 
}
